h1 {
  color: blue;
  font-size: 30px;
  font-weight: 100px;
}
h2 {
  color: blue;
  font-size: 26px;
}
h4 {
  color: green;
}
li {
  list-style: none;
  color: black;
}
button {
  margin: 0 auto;
  background: blanchedalmond;
  color: blue;
}

.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 7px;
}
.weather-icon {
  color: royalblue;
  font-size: 60px;
}
#tempDescription {
  color: blue;
  font-size: 19px;
}
#temperature {
  color: black;
  font-size: 500px;
}
.sun-icon {
  color: goldenrod;
  font-size: 25px;
}
