h1 {
  color: blue;
  font-size: 30px;
  font-weight: 120;
  margin-bottom: 0;
}
h2 {
  color: blue;
  font-size: 26px;
  font-weight: 120;
}
h4 {
  color: black;
  font-size: 22px;
  font-weight: 120;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  color: black;
  padding: 0;
  font-size: 18px;
  font-weight: 100;
}
button {
  margin: 0 auto;
  background: blanchedalmond;
  color: blue;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 7px;
  border-radius: 5px;
}
.weather-icon {
  color: royalblue;
  font-size: 60px;
}
#tempDescription {
  color: blue;
  font-size: 19px;
}
#temperature {
  color: black;
  font-size: 50px;
}
.sun-icon {
  color: goldenrod;
  font-size: 25px;
}
