h1 {
  color: blue;
  font-size: 30px;
  font-weight: 120;
  margin-bottom: 0;
}
h2 {
  color: blue;
  font-size: 26px;
  font-weight: 120;
}
h4 {
  color: black;
  font-size: 22px;
  font-weight: 120;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: black;
  padding: 0;
  font-size: 18px;
  font-weight: 100;
}

li:first-letter {
  text-transform: capitalize;
}

button {
  margin: 0 auto;
  background: blanchedalmond;
  color: blue;
}

.weather-app-wrapper {
  max-width: 500px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid;
  border-radius: 5px;
}

.weather-app {
  color: blue;
}

.humidity {
  color: rebeccapurple;
}
.weather-icon {
  color: royalblue;
  font-size: 60px;
}

.sun-icon {
  color: goldenrod;
  font-size: 30px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: black;
}

.weather-forecast-date {
  font-size: 18px;
  opacity: 0.6;
  color: blue;
}
.weather-forecast-temperature {
  font-size: 15px;
}

.weather-forecast-temperature-max {
  opacity: 0.6;
  color: blue;
}
.weather-forecast-temperature-min {
  opacity: 0.6;
  color: black;
}

#tempDescription {
  color: blue;
  font-size: 19px;
  text-transform: capitalize;
}

#tempDescription:first-letter {
  text-transform: capitalize;
}

#temperature {
  color: black;
  font-size: 60px;
}

#footer {
  display: block;
  text-align: center;
}

#celsius-link {
  position: relative;
  font-size: 16px;
  top: -34px;
}
#fahrenheit-link {
  position: relative;
  font-size: 16px;
  top: -34px;
}
